body{
    background-color: rgb(51, 255, 51);
}
.Max{
border: 5px solid blue;
}
.Charles{
border: 5px solid grey;
}
.Lewis{
border: 5px yellow;
}
div{
    box-shadow: 5px 5px black;
  
    float: left;
    margin: 1px;
    padding: 1px;
}
img{
width: 200px;
height: 200px;
}
figcaption{
background-color: rgb(51, 255, 51);
text-align: center;
}
.a{
    border: 5px solid red;
}
.b{
    border: 5px solid green;
}
.c{
    border: 5px solid blue;
}