*{
    background-color: #9BD770 ;
}

.a{
    margin: 40px;
    background-color: #8DD15C;
    
}
.b{
    margin: 20px;
    padding: 20px;
    background-color: #65AD31
}
.c{
    margin: 30px;
    padding: 30px;
    border: 7px solid #22AABB;
    background-color: #65AD31
}
