@font-face {
    font-family:myRoboto;
    src: url(Roboto-Regular.ttf);
    font-family:myMickeys;
    src: url(Mickeys\ Merry\ Christmas.ttf);
}

body{
    background-color: #EBF7E3;
}

div{
    background-color: #9BD770;
    background-image: linear-gradient(#EBF7E3,#9BD770);
    box-shadow: 5px 5px black;
    margin: 25px;
    padding: 10px;
    width: 300px;
    height: auto;
}

.a{
    font-family: myRoboto,sans-serif;
}

.b{
    font-family:myMickeys,sans-serif;
}