@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Jost:wght@300&family=Suwannaphum:wght@700&display=swap');
.a{
    font-family: 'Fira Sans', sans-serif;

}
.b{
    font-family: 'Jost', sans-serif;
}
.c{
    font-family: 'Suwannaphum', serif;
}
.f{
    color: green;
    text-shadow: 1px 1px 2px black,0 0 20px blue,0 0 7px darkblue;
}
.d{
    text-shadow:4px 4px 4px #666666;
}
.e{
    color: coral;
    text-shadow:0 0 10px #00ff00;
}
span{
    font-weight: bold;
}
div{
    width: 300px;
    background-color: #DBE5FF;
    background-image: linear-gradient(#DBE5FF,#678FFE);
    box-shadow: 5px 5px black;
    margin: 50px;
    padding: 10px;

}
body{
    background-color: #DBE5FF;
}